@model AppCrudCore.Models.ViewModels.TransaccionBiblioteca.TransaccionBibliotecaEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransaccionBiblioteca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTransaccionBiblioteca" />
            <div class="input-group">
                <label>Estado</label>
                <div class="input-group">
                    <label class="field-label">Estado</label>
                    <select asp-for="Estado" class="custom-select">
                        <option value="1">Bodega</option>
                        <option value="2">Prestado</option>
                        <option value="3">Vendido</option>
                        <option value="4">Cancelado</option>
                    </select>
                </div>
            </div>

            <div class="input-group">
                <label>Fecha Devolución</label>
                <input asp-for="FechaDevolucion" type="date" class="custom-input" />
            </div>

            <div class="input-group">
                <label>Observaciones</label>
                <textarea asp-for="Observaciones" class="custom-input"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
