@using AppCrudCore.Models.ViewModels.Empleado
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

}
@model EmpleadoEditViewModel;
<section class="main-container">
    <div class="glass-card">
        <header class="form-header">
            <h1 class="title">Nuevo Empleado</h1>
            <p class="subtitle">Gestión de Empleado - Creación de Empleado</p>
        </header>
        <div class="form-wrapper">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Empleado" asp-action="Editar" method="post">
                <input asp-for="IdEmpleado" type="hidden" />
                <div class="form-grid">
                    <div class="input-group">
                        <label class="field-label">Nombre completo</label>
                        <input class="custom-input" asp-for="NombreCompleto" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Cedula</label>
                        <input class="custom-input" asp-for="Cedula" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Correo</label>
                        <input class="custom-input" asp-for="Correo" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Fecha contrato</label>
                        <input class="custom-input" asp-for="FechaContrato" type="date" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Contraseña Nueva</label>
                        <div class="input-container">
                            <input asp-for="NuevaPass" type="password" class="custom-input" id="NuevaPass" />
                            <button class="toggle-input" type="button" onclick="togglePassword('NuevaPass', this)"> <i class="bi bi-eye"></i> </button>
                        </div>
                        <span asp-validation-for="NuevaPass" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Confimar Contraseña Nueva</label>
                        <div class="input-container">
                            <input asp-for="ConfirmarPass" type="password" class="custom-input" id="confirmarPass" />
                            <button class="toggle-input" type="button" onclick="togglePassword('confirmarPass', this)"><i class="bi bi-eye"></i></button>
                        </div>
                        <span asp-validation-for="ConfirmarPass" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Seleccione el rol</label>
                        <select asp-for="RolId" asp-items="ViewBag.Rol" class="custom-input">
                            <option value="">Seleccione un rol</option>
                        </select>
                        <span asp-validation-for="RolId" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label" for="chkActivo">activo</label>
                        <input class="form-check-input" asp-for="Activo" type="checkbox" id="chkActivo" />
                    </div>
                </div>
                <div class="actions">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <a asp-controller="Empleado" asp-action="Lista" class="btn btn-warning">Volver</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

<script>
    function togglePassword(inputId, btn) {
        const input = document.getElementById(inputId);
        const icon = btn.querySelector("i");

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("bi-eye");
            icon.classList.add("bi-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("bi-eye-slash");
            icon.classList.add("bi-eye");
        }
    }
</script>