@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppCrudCore.Models.Empleado;

<section class="main-container">
    <div class="glass-card">
        <header class="form-header">
            <h1 class="title">Nuevo Empleado</h1>
            <p class="subtitle">Gestión de Empleado - Creación de Empleado</p>
        </header>

        <div class="form-wrapper">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Empleado" asp-action="Nuevo" method="post">
                <div class="form-grid">
                    <div class="input-group">
                        <label class="field-label">Nombre completo</label>
                        <input class="custom-input" asp-for="NombreCompleto" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Cédula</label>
                        <input class="custom-input" asp-for="Cedula" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Correo</label>
                        <input class="custom-input" asp-for="Correo" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Seleccione el rol</label>
                        <select asp-for="RolId" asp-items="ViewBag.Rol"
                                class="custom-select">
                            <option value="">Seleccione un rol</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Contraseña</label>
                        <input class="custom-input" asp-for="PasswordHash" type="password" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Fecha contrato</label>
                        <input class="custom-input" asp-for="FechaContrato" type="date" />
                    </div>
                    <div class="input-group">
                        <input class="form-check-input" asp-for="Activo" type="checkbox" id="chkActivo" />
                        <label class=" field-label" for="chkActivo">activo</label>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="actions">
                    <button class="btn-primary-submit" type="submit">Guardar</button>
                    <a asp-controller="Empleado" asp-action="Lista" class="btn-back">Regresar al Listado</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}